<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Loans Index</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Postgres Demo</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Book Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/libraryloans}">Loans Index</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h1>List Library Loans</h1>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <a th:href = "@{/libraryloans/new}" class="btn btn-primary btn-sm mb-3">Create a new loan</a>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student</th>
      <th scope="col">Book</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "libraryloan: ${libraryloans}">
      <td th:text = "${libraryloan.loanid}"></td>
      <td th:text = "${libraryloan.studentname}"></td>
      <td th:text = "${libraryloan.bookname}"></td>
      <td>
        <a th:href ="@{/libraryloans/edit/{id}(id=${libraryloan.loanid})}"
           class="btn btn-success">Edit</a>
        <a th:href ="@{/libraryloans/{id}(id=${libraryloan.loanid})}"
           class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>